html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana;
}

body {
  margin: 0;
}


/*Styling the header*/

header{
  background-color: white;
  height: 64px;
  width: 100%;
  border-bottom: solid 1px grey;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

/*school logo*/
header img{
  height: 48px;
  padding-left: 24px;
}

/* logo plus stylized name */
.logo{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* stylized school name in the logo */
.header-title{
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  color: black;
}

.thin-title{
  font-weight: 200;
  color:#C0C0C0;
}

/******************************************************************/
/* Navigation items:                                              */
/*   desktop-nav is text-based - active for larger screens        */
/*   mobile-nav is icon-based - active for smaller screens        */
/******************************************************************/
nav{
  padding-right:3%;
  align-self: center;
  display:flex;
  justify-content: space-between;

}

.desktop-nav a{
  padding: 0px 16px;
}

a{
  text-decoration: none;
  color: #C0C0C0;
}

.mobile-nav{
  display:none;
}


/*Learn something new... - first section*/


.main-section {
  position: relative;
  top: 4rem;
  background-color: #D3D3D3;
  display: flex;
  color: black;
  padding: 2rem 0 2rem 1.5rem;
}

.main-section img {
  display:inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 32px 40px 32px 24px;
}

.side-text {
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
  width:30%;
  margin-top: 2rem;
}


.side-text h1 {
  margin: 24px 0;
  padding: 0.4rem 0;
  font-size: 3rem;
  font-weight: normal;
}

.side-text h3 {
  margin: 24px 0;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.button {
  background-color: #4a4a4a;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2.5rem;
  padding-right: 1rem;
  width: 80%;
  transition:color 600ms, background-color 600ms;
}

.button:hover{
background-color: #B27A3C;
color:#45434C;
}



/*Section 2 It doesn't hurt , Sr Strategist*/
#practice {
  width: 100%;
  background-color: white;
  padding: 4rem 0 0 1.5rem;
  display: flex;
  justify-content: space-around;
}

.main-story {
  width: 60%;
}

.main-pic img {
  width: 98%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*padding-left: 1.5rem;*/
}

.description h1{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.description p {
  font-size: 1.20rem;
}
.side-stories {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orientation, .our-campus, .guest-lecture {
  display: flex;
}

.pic {
  width: 35%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.pic img {
  width: 100%;
}

#highlited {
  background-color: #D3D3D3;
  margin-top: 2.2rem;
}

.guest-lecture img {
  margin-bottom: 2.2rem;
}

#campus {
  margin-top: 1.5rem;
}


.description-side {
  margin-top: 3rem;
  margin-left: 1rem;
}

.description-side a {
  color: blue;
}



/*Start Learning...courses section - third section*/

/******************************************************************/
/* The course offering container and individual course            */
/* description boxes are styled below.                            */
/******************************************************************/
.courses{
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.courses-pack{
  width:90%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.course-container{
  width:30%;
  height:296px;
  margin: 0 8px 16px 8px;
  background-color: white;
}

.courses h2{
  text-align: center;
}

.course-container img{
  width:100%;
}

.course-text{
  padding:16px 0 0 16px;
}

/* links in the course boxes are only active in the mobile display */
.course-container a{
  display:none;
}

h2{
  font-size:2rem;
  font-weight: bold;
  padding: 32px 0;
}

h3{
  font-size: 1.3rem;
  line-height: 1.2;
}

p{
  font-family: "Palanquin", sans-serif;
  font-size: .9rem;
  line-height: 1.25;
  padding: 8px 8px 8px 0;
}





/******************************************************************/
/* The course offering container and individual course            */
/* description boxes are styled below.                            */
/******************************************************************/







@media only screen and (max-width: 760px) {
  #courses-section {
    flex-flow: column;
    padding: 0;
  }

  .courses {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .courses .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}
