html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}

main{
  background-color: #ffffff;
  position:relative;
  width:100%;
}

/*Styling the header*/

header{
  background-color: #ffffff;
  height: 64px;
  width: 100%;
  border-bottom: solid 1px white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

/*colmar academy logo*/
header img{
  height: 50px;
  padding-left: 1.5rem;
}

/* the positioning of logo and its' stylized name */
.logo{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* stylying the Colmar Academy name in the logo */
.header-title{
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  color: #000000;
}

.thin-title{
  font-weight: 200;
  color:#A9A9A9;
}


/* Navigation items */
/*  desktop-nav is text-based & mobile-nav is icon-based */
nav{
  padding-right:3%;
  align-self: center;
  display:flex;
  justify-content: space-between;
}

.desktop-nav a{
  padding: 0px 1rem;
}

a{
  text-decoration: none;
  color: #A9A9A9;
}

nav a:active {
  color: #000000;
}

.mobile-nav{
  display:none;
}


/*Learn something new... - first section*/

.main-section {
  position: relative;
  top: 2rem;
  background-color: #e7e4e5;
  display: flex;
  color: #808080;
  padding: 2rem 0 0 0;
}

.main-section img {
  display: block;
  vertical-align: middle;
  width: 60%;
  height: auto;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

.side-text {
  display: inline-flex;
  flex-flow: column;
  align-self: center;
  width:30%;
}


.side-text h1 {
  margin: 1rem 0;
  padding: 0.4rem 0;
  font-size: 3rem;
  font-weight: 500;
}

.side-text h1:hover {
  font-weight: 500;
  color: #161628;
}
.side-text h1{
  transition-duration: 1.5s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
}

.side-text h3 {
  margin: 1rem 0;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.button {
  background-color: #fcf974;
  color: #808080;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: auto;
  transition:color 600ms, background-color 600ms;
}

.button:hover{
background-color: #de3643;
color:#A9A9A9;
}



/*Section 2 It doesn't hurt , main story & side stories*/
.practice {
  width: 100%;
  background-color: #ffffff;
  color: #808080;
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
}

.practice .story-box:last-child {
  background-color: #e7e4e5;
  color:#808080;
  padding-right: 0;
}

.multi-box{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-story-box {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-story-box img {
  width: 100%;
  height: auto;
}

.main-story-box h2{
  font-size: 2.5rem;
  padding: 0;
}

.main-story-box p {
  font-family: 'Open-Sans', sans-serif;
  font-size: 1.20rem;
  padding: 0;
}

.main-story-box h5 {
  font-size: .8rem;
  padding: 0;
  margin: 0;
}

.side-stories {
  width: 35%;
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 1rem;
}


.story-box {
  display: inline-flex;
  flex-flow: row;
  align-self: center;
}

.story-box img {
  width: 35%;
  margin:3.5%;
  display: block;
}


.description-side{
  width:60%;
  display: inline-flex;
  flex-flow: column;
  align-self: center;
  margin: 0;
  padding-bottom: .5rem;
  padding-right: .5rem;
}


.description-side h3{
  padding: 0;
  margin: 0;
}


.story-box a{
  color:#B27A3C;
  padding-left:0;
  padding-bottom: 1rem;
  margin: 0;
}

.story-box a:active {
  color: #000000;
}

.story-box p{
  padding-left:0;
  padding-bottom: 1rem;
  margin: 0;
}


#mobile-pic{
  display:none;
}



/*Start Learning...courses section - third section*/

.courses{
  background-color: #f7f2f3;
  color: #808080;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0;
}

.courses-pack{
  width:90%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-container{
  width:30%;
  height:auto;
  margin: 0 .5rem 2rem .5rem;
  background-color: #ffffff;
}

.courses h2{
  text-align: center;
}

.course-container img{
  width:100%;
  height: auto;
}

.course-text{
  padding:1rem 0rem 0rem 1rem;
  height: 190px;
  margin: 0;
  transition:color 600ms, background-color 600ms;
}

.course-text:hover{
background-color: #e7e4e5;
color:#404040;
}

/* links in the course boxes are active only in mobile */
.course-container a{
  display:none;
}

h2{
  font-size:2rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

h3{
  font-size: 1.3rem;
  line-height: 1.2;
}

p{
  font-family: 'Open-Sans', sans-serif;
  font-size: .9rem;
  line-height: 1.25;
  padding: .5rem .5rem .5rem 0rem;
}


/*Thesis exhibit... - 4th section*/
.thesis{
  background-color: #ffffff;
  color:#808080;
  width:100%;
}

.thesis .story-box:first-child{
  background-color: #e7e4e5;
  color:#808080;
}

.thesis h2{
  text-align: center;
  margin: 0;
}

video{
  width:100%;

}

.thesis .main-story-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}


/* Footer */
footer{
  background-color: #ffffff;
  color:#808080;
  border-top: 1px solid #C0C0C0;
  display: flex;
  justify-content: space-between;
  font-family: 'Open-Sans', sans-serif;
}

footer h5{
  padding: 0 1.5rem;
  font-weight: normal;
  margin-top: 1rem;
  font-size: .8rem;
}

footer nav{
  display: flex;
  align-self: flex-start;
  font-family: 'Open-Sans', sans-serif;
}

footer span{
  padding-right: .5rem;
  margin-bottom: 1.5rem;
  font-size: .8rem;
  margin-top: 1rem;
  font-weight: normal;
}


/* tablet devices*/

@media only screen and (max-width:825px){

  .main-section img, .main-story-box{
    width:45%;
  }
  .main-section .description-side{
    width: 40%;
  }
  .course-container, .side-stories{
    width:45%;
  }

}

/* Mobile devices*/
@media only screen and (max-width:625px) {

/* below elements that will be turn off from the desktop version of the site */
footer nav, .desktop-nav, .logo, .main-section img, .practice .main-story-box,
.thesis .side-stories, .thesis p, .thesis h3, .course-container img,
.course-container p, #desktop-pic{
  display:none;
}

/* menu bar in mobile version changes into icons */
.mobile-nav{
  display:flex;
  justify-content: space-around;
  width:100%;
}


/* changes to the main-section area */

.button{
  width:90%;
  align-self: center;
}

.main-section{
  width:100%;
  height:auto;
  display:flex;
  flex-flow: column;
  justify-content: center;
  background-color: #e7e4e5;
  align-items: center;
}

.side-text{
  width:90%;
  height:auto;
}

.main-section img{
  width: 100%;
  height: auto;
  padding:0;
  margin: 0;
  display: flex;
  justify-content: center;
}


 .description-side{
  width:100%;
  padding: 16px 16px;
  margin:auto;
  box-sizing: border-box;
}

.description-side h3{
  margin: 0;
}

/* changes to the practice area - second section */
.side-stories, .story-box .description-side{
  width:100%;
}

.story-box{
  display:flex;
  flex-flow: column;
}

#mobile-pic{
  display:block;
  box-sizing: border-box;
  padding: 16px 16px 24px 16px;
}

.story-box img{
  width:100%;
  margin:auto;
}

.story-box .description-side{
  box-sizing: border-box;
  padding-left: 32px;
}

.practice .story-box:last-child{
  background-color: #ffffff;
  color:#808080;
  margin-bottom: 32px;
}


/* changes to the courses area - third section */

.courses-pack{
  flex-flow: column;
}

.course-container{
  width:100%;
  height:auto;
  padding:0;
  margin:0 0 8px 0;
}

.course-text{
  width: 100%;
  height: auto;
  padding:16px;
  color: #909090;
  transition:color 600ms, background-color 600ms;
}

.course-text:hover{
background-color: #D3D3D3;
color:#303030;
}

.course-container h3{
  display:none;
}

.course-container a{
  display:block;
  font-size: 1.3rem;
  line-height: 1.2;
  padding:0;
}


/* changes to thesis section. Detail boxes are removed.*/
.thesis .main-story-box{
  width:100%;
  padding: 0 0 32px 0;
}

video{
  margin:auto;
}

/* footer changes */
h5{
  margin:2rem 0 1rem 0;
}
