html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana;
}

body {
  margin: 0;
}


/*Styling the header*/
header {
  height: 4rem;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
}

#logo-text {
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  color: black;
}

#logo-text img {
  margin-left: 1.5rem;
  height: 3rem;
}

nav {
  display: inline-block;
  padding-right: 40px;
}

nav ul {
  padding-left: 20px;
}

nav li {
  display: inline-block;
  padding: 16px;
}

a {
  color: black;
  text-decoration: none;
}





/*Learn something new... - first section*/
.students {
  position: relative;
  top: 4rem;
  background-color: #D3D3D3;
  display: flex;
  color: white;
  padding: 2rem 0 2rem 1.5rem;
}
.story1 {
  width: 60%;
}
.story1 img {
  width: 100%;
  padding-right: 2.5rem;
  vertical-align: center;
  display: inline-block;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titles h1 {
  margin: 0 0 0 2.5rem;
  padding: 0.4rem 0;
  font-size: 3rem;
  font-weight: normal;
}

.titles h5 {
  margin: 0 0 0 2.5rem;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.button {
  background-color: #4a4a4a;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2.5rem;
}

/*Section 2 It doesn't hurt , Sr Strategist*/
#practice {
  width: 100%;
  background-color: white;
  padding: 4rem 0 0 1.5rem;
  display: flex;
  justify-content: space-around;
}

.main-story {
  width: 60%;
}

.main-pic img {
  width: 98%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*padding-left: 1.5rem;*/
}

.description h1{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.description p {
  font-size: 1.20rem;
}
.side-stories {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orientation, .our-campus, .guest-lecture {
  display: flex;
}

.pic {
  width: 35%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.pic img {
  width: 100%;
}

#highlited {
  background-color: #D3D3D3;
  margin-top: 2.2rem;
}

.guest-lecture img {
  margin-bottom: 2.2rem;
}

#campus {
  margin-top: 1.5rem;
}


.description-side {
  margin-top: 3rem;
  margin-left: 1rem;
}

.description-side a {
  color: blue;
}



/*Start Learning...courses section - third section*/

#courses-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
}

.courses {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: white;
}

.courses .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.courses .content {
  padding: 2.5rem 0;
}

.courses h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.courses h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

.courses p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}


@media only screen and (max-width: 760px) {
  #courses-section {
    flex-flow: column;
    padding: 0;
  }

  .courses {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .courses .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}
